*{
  max-width:100%;
  overflow:hidden;
  padding:0;
  margin:0;
}
header{
  height:100px;
  width:100%;
}
.logo{
  width:80px;
  height:90px;
  display:inline-block;
}
.logo img{
  width:80px;
}
nav{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  height:30px;
  background-color:#eb3a45;
  width:100%;
  margin-top:-70px;
  margin-left:70px;
  text-align:center;
}
nav a{
  text-decoration:none;
  font-family:sans-serif;
  color:white;
  font-size:14px;
  padding:12px 30px;
  transition:.3s;
}
nav a:hover{
  color:#eb3a45;
  background:white;
}