*{
    max-width:100%;
    overflow:hidden;
    padding:0;
    margin:0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    }

  header{
    height:100px;
    width:100%;
  }

  .logo{
    width:100px;
    height:100px;
    display:inline-block;
  }
  .logo img{
    width:200px;
  }

  nav{
    display:flex;
    justify-content:left;
    align-items:center;
    height:30px;
    background-color:#000000;
    width:50%;
    margin-top:-70px;
    margin-left:100px;
    text-align:center;
  }
  nav a{
    text-decoration:none;
    font-family:verdana;
    color:white;
    font-size:20px;
    padding: 20px 30px;
    transition:.5s;
  }
  nav a:hover{
    color:#eb3ac5;
    background:rgb(0, 0, 0);
    font-weight: bold;
  }

  section{
	display:flex;
flex-wrap: wrap;
width: 70%
border: solid 3px black;
height: 80vh;
justify-content:space-evenly;
align-content:space-evenly;
  }

.image{
  background:url(https://picsum.photos/150);
  height:150px;
  width:150px;
  padding:10px;
  box-sizing:border-box;
  border-radius:10px;
  display:flex;  
  justify-content:center;
  align-items:center;
}

.box {
    display: flex;
  }

  .one {
    flex: 1;
  }

  .two {
    flex: 1;
  }

  .three {
    flex: 1;
  }

